* {
    box-sizing: border-box;
}

:root {
    --font-heading: "Sen", sans-serif;
    --primary-color: #ffb900;

}

html {
    font-size: 62.5%;
}

/* Khôi phục lại cỡ chữ mặc định theo rem */
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ===========================common======================= */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0 16px;
    line-height: 50px;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 999px;
    background-color: #171100;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.heading-lv2 {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.76px;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.break-all{
    word-break: break-all;
}
/* ===========================header======================= */
.header {
    background: #fffcf4;
}

.header.fixed {
    z-index: 1;
    position: sticky;
    top: -28px;
}

.header .body-header {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    color: #5f5b53;
    font-size: 1.6rem;
    padding: 8px 21px;
    position: relative;
}

.nav li.active a,
.nav a:hover {
    color: #171100;
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
    position: absolute;
    display: block;
    left: 21px;
    bottom: 6px;
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background-color: #171100;
}

.header,
.btn-sign-up {
    min-width: 144px;
}

.header .action {
    margin-left: 49px;
}

/* =================hero================ */
.hero {
    background: #fffcf4;
    padding: 56px 0 65px;
}

.hero .body-hero {
    display: flex;
}

/* ===========hero left=============== */
.hero .media-block {
    width: 48%;
    position: relative;
}


.hero .hero-summary {
    padding: 24px;
    width: 270px;
    position: absolute;
    bottom: 48px;
    right: 0;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 16px 32px 0px rgb(0, 0, 0, 0.05);
}

.hero-summary .item {
    display: flex;
    align-items: center;
}

.hero-summary .item+.item {
    margin-top: 22px;
}

.hero-summary .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #f0ece3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-summary .icon1 {
    background-color: #f0ece3;
}

.hero-summary .icon2 {
    background-color: #e6c3e4;
}

.hero-summary .icon3 {
    background-color: #adb9eb;
}

.hero-summary .info {
    margin-left: 16px;
}

.hero-summary .label {
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.86;
}

.hero-summary .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

/* ===========hero right=============== */
.hero .content-block {
    width: 52%;
    margin-left: 130px;
    padding-top: 64px;
}

.content-block .heading {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -1.16;
}

.content-block .desc {
    margin-top: 22px;
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 1.67;
}

.content-block .cta-group {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.content-block .hero-cta {
    min-width: 180px;
    line-height: 50px;
    background-color: var(--primary-color);
}

.content-block .watch-video {
    margin-left: 28px;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.watch-video .icon {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffff;
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 0, 0.07);
}

.watch-video span {
    margin-left: 14px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.content-block .desc-recent {
    margin-top: 48px;
}

.content-block .stats {
    margin-top: 8px;
}

.content-block .stats strong {
    margin-right: 15px;
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700px;
    line-height: 1.23;
}

.content-block .stats strong:nth-child(2) {
    margin-left: 28px;
}

/* =================popular================== */
.popular {
    padding: 65px 0;
    margin-top: 135px;
}

.popular .popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-top .info .desc {
    color: #5f5b53;
    margin-top: 16px;
    font-size: 1.8rem;
    line-height: 1.67;
}

.popular-top .controls {
    display: flex;
    gap: 18px;
}

.popular-top .controls .control-btn {
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    justify-content: center;
}

.popular-top .controls .control-btn-left,
.popular-top .controls .control-btn:hover {
    background-color: var(--primary-color);
    color: white;
}

.popular-bottom .course-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.popular-bottom .course-list .course-item {
    flex: 1;
    border-radius: 12px;
    border: 1px solid #e2dfda;
    background-color: #fff;
}

.popular-bottom .course-list .course-item:hover {
    border: 1px solid transparent;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.course-list .course-item .thumb {
    width: 100%;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.course-list .course-item .info {
    padding: 16px 22px 22px;
}

.course-item .info .foot,
.course-item .info .head .rating,
.course-item .info .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info .head .title a {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.head .rating .value {
    color: var(--primary-color);
    margin-right: 6px;
    font-size: 1.6rem;
    line-height: 1.75;
}

.course-item .info .desc {
    margin-top: 6px;
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.86;
}

.course-item .info .foot {
    margin-top: 12px;
}

.foot .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.foot .btn-buy {
    border: none;
}

.foot .btn-buy:hover {
    background-color: var(--primary-color);
}